html { height:100%;}

body {
    height:100%;
    padding: 0;
    margin: 0;
}
#map {
    width: 50%;
    height: 100%;
    /*padding-left: 20px ! important;*/
}

/*.container-fluid {*/
    /*padding-left: 10px;*/
/*}*/

/*!*info panel*!*/
/*.info {*/
    /*z-index: 1000;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 20px;*/
    /*padding: 6px 8px;*/
    /*font: 14px Arial, Helvetica, sans-serif;*/
    /*text-align: right;*/
    /*background: white;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
/*}*/
/*.info h1 {*/
    /*font-size: 16px;*/
    /*margin: 0 0 5px;*/
    /*color: #777777;*/
/*}*/
/*!*legend panel*!*/
/*.legend {*/
    /*z-index: 1000;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*bottom: 20px;*/
    /*padding: 6px 8px;*/
    /*font: 14px Arial, Helvetica, sans-serif;*/
    /*background: white;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
/*}*/
/*.legend i {*/
    /*width: 18px;*/
    /*height: 16px;*/
    /*float: left;*/
    /*margin-right: 8px;*/
    /*opacity: 0.7;*/
/*}*/

.top-buffer { margin-top:10px; }

.mid-buffer { margin-top:5px; }

.footer-buffer {
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    color: #538470;
    text-shadow: 3px 3px #ededed;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-small;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    color: #538470;
}

.main-panel {
    height: 350px;

}

#toggle-one {

    z-index: 1000003 !important;
}
.vegDesign {
    position: absolute;
    opacity: 0.3;
    left: -15px;
    top: -40px;
    padding-top: 10px;
    padding-left: 80px;
    width: 20%;
    height: 20%;
}

#veg-chart{
    /*padding-bottom: 3px;*/
    padding-left: 5px;
    width: 80%;
    height: 80%;
}

#veg-chart .x.axis text {
    font-family: 'Josefin Sans', sans-serif;
    /*text-anchor: end !important;*/
    /*transform: rotate(-45deg);*/
}

#veg-chart .y.axis text {
    font-family: 'Josefin Sans', sans-serif;
    text-anchor: end !important;
}

.social {
    position: fixed;
    right: 10px;
    top: 10px;
}

.question-circle {
    color: #6ba78a;
}

.facebook-square {
    color:#6ba78a;
}

.github-icon {
    color: #6ba78a;
}

.btn-primary{
    background-color: #6ba78a !important;
    color: #333;
}

.btn-default {
    background-color: #dfc27d !important;
    color: #333;
}

a{
  color: #6ba78a !important;
    text-shadow: #3f454e;
}